body {
    background-color: rgb(140, 143, 137);
}

ol{
    list-style-type: upper-alpha;
}
ul{
    list-style-type: square;
}

/*When setting the style for several link states, there are some order rules:

a:hover MUST come after a:link and a:visited
a:active MUST come after a:hover
*/

a:visited{
    color: gold;
}
a:link{
    color: antiquewhite;
}
a:hover {
    color: blue;
}

/*class*/
.table{
    font-weight: bold;
}

.title{
    text-decoration: underline;
}

/*id*/

#zock{
    font-family: 'Aldrich', sans-serif;
    color: rgb(20, 133, 5);
}

#assaultGuntank{
    font-family: 'Aldrich', sans-serif;
    color: rgb(212, 180, 76);
}

#pixy{
    font-family: 'Aldrich', sans-serif;
    color: rgb(209, 0, 0);
}

#scarface{
    font-family: 'Aldrich', sans-serif;
    color: rgb(126, 0, 138);
}

#intro{
    font-family: 'Glegoo', serif;
}

#introheader{
    font-family: 'Glegoo', serif;
}